<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Гарри Поттер и Тайная комната</string>
		<key>description</key>
		<string>Это вторая книга о приключениях Гарри Поттера. Он снова вступает в отчаянную схватку со злом. На этот раз враг его так силен, что надежды на победу почти нет.</string>
		<key>image</key>
		<string>hp1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Гарри Поттер и Кубок огня</string>
		<key>description</key>
		<string>Гарри Поттеру предстоит четвертый год обучения в Школе чародейства и волшебства &quot;Хогвартс&quot;. Новые заклинания, новые зелья, новые учителя, новые предметы... Все это знакомо, и Гарри с нетерпением ожидает начала учебного года. Но на школу внезапно обрушивается потрясающая новость: в этом году в Хогвартсе будет проходить Турнир Трех Волшебников, и конечно же, каждый хочет принять в нем участие..</string>
		<key>image</key>
		<string>hp2</string>
	</dict>
</array>
</plist>
